/* --main: #e13939;
--main-fade: #ff5b5b;
--dark: #010a0f;
--dark1: #06131c;
--dark2: #ffffff0d;
--dark3: #213848;  */
.bg-main {
  background-color: #e13939;
}
.bg-dark1 {
  background-color: #06131c;
}
.bg-dark2 {
  background-color: #ffffff0d;
}
.bg-dark3 {
  background-color: #213848;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap");
* {
  /* font-family: "Lora", serif; */
  font-family: "Rowdies", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

body {
  background-color: #010a0f;
}
.logo {
  color: #e13939;
}

.input {
  background: #06131c;
  align-items: flex-start;
  border-width: 1px;
  color: white;
  border: 1px solid #e13939;
  justify-content: center;
  margin-top: 0.625rem;
  max-width: 100%;
  white-space: nowrap;
  width: 100%;
  outline: #e13939;
}
.inp_msg {
  background: #06131c;
  align-items: flex-start;
  border-width: 1px;
  color: white;
  border: 1px solid #e13939;
  justify-content: center;
  margin-top: 0.625rem;
  max-width: 100%;
  width: 100%;
  outline: #e13939;
}

/* NAvbar==================== */
#header {
  backdrop-filter: blur(7px);
  background: #4d87b026;
  width: 80%;
  margin: auto;
  border-radius: 30px;
  z-index: 99;
}
#header .list ul li {
  margin-right: 30px;
  padding-top: 8px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

/* Responsive Navbar========================= */

@media(max-width : 768px){
  .icon{
    display: block;
  }
  .container  .links{
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    border-radius: 20px;
    top: -300px;
    background-color: #06131c;
    right: 0;
    z-index: 10;
    padding: 21px;
    transition: all 0.7s;
  }
  /* .container .loginbtn a{
    display: none;
  } */
  .container .list .active{
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0;
    z-index: 10;
    padding: 21px; 
    background-color: #06131c;
    border-radius: 20px;
    top: 100px;
    transition: all 0.7s ease-in;
  }
  .container  .activeuser{
    flex-direction: row;
    position: absolute;
    width: 100%;
    top: 500px;
    right: 0;
    z-index: 10;
    padding: 21px; 
    background-color: #e13939;
    border-radius: 20px;
    top: 295px;
    color: white;
    transition: all 0.7s ease-in;
  }



}
/* footer -============ */

#footer li{
  color: #949a9f;
}

/* CArt============ */

#cart{
  color:  #949a9f;
}

#cart .empty{
  background: #213848;
}

/* Products =================== */
#products{
    width: 80%;
    margin: auto;
}
.pr-item {
  position: relative;
}
.pr-cont {
  position: absolute;
  bottom: -200px;
  width: 100%;
  transition: 0.5s;
}
.pr-item:hover .pr-cont {
  overflow: hidden;
  bottom: 2px;
  transition: 0.5s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@keyframes bounce {
  0% {
    transform: translateY(20%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    transform: translateY();
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
